<div class="container">
	<h1> Create a new post! </h1>

	<!-- this is an empty form for a new post -->

	<form action="/new_post" method="POST">

		<label> Title <input id="title" type="text" name="title" placeholder="title"><br>
		<label> Description <input id="description" type="text" name="title"><br>
		<label> Location <input id="location" type="text" name="location"><br>
		<label> Price <input id="price" type="text" name="price"><br>
		<label> Phone <input id="phone" type="text" name="phone"><br>
		
		<!-- Button -->
		<input type="submit" value="Add your post!">

	</form>
</div>
